pkgbase = orbit-wifi
	pkgdesc = A WiFi/Bluetooth manager for Wayland with glassmorphism UI
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/LifeOfATitan/orbit
	install = orbit.install
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = rust
	depends = gtk4
	depends = gtk4-layer-shell
	depends = networkmanager
	depends = bluez
	source = orbit-wifi-0.1.1.tar.gz::https://github.com/LifeOfATitan/orbit/archive/v0.1.1.tar.gz
	source = orbit.service
	sha256sums = a93ea78e430accc3ed020e5b31cae216a93804a7deb0f487bfd2dd58c6dc463e
	sha256sums = 5f4188533d3d98162972f54406f40d19ba8a72d2d710b22e4e9e5af7f59f1d58

pkgname = orbit-wifi
